.contenedor-carrito{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    min-height: 80vh;
    width: 80%;
    max-width: 1500px;
    min-width: 1100px;
    margin: 0 auto;
    gap: 20px;
    flex-direction: column;
    background-color: #7e92eb;
    user-select: none;
    
}
.carritoItems-total-map{
    border: 1px solid white;
    padding: 15px;
    font-size: 25px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carritoItems-total{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 90%;
    min-width: 1000px;
    
}
.boton-carrito{
    padding: 10px;
    background-color: brown;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    
}

.boton-carrito-item{
    margin: 0 auto;
    width: 150px;
    
}
.map-tamaño{
    flex:1;
    font-size: 20px;
}


@media(max-width:980px){
    .contenedor-carrito{
        width: 100%;
        min-width: 500px;
    }
}
