.footer{
    background-color: black;
    width: 100%;
    height: 150px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja-1{
    flex: 3;
}
.caja-2{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.lista-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.iconos-footer{
    width: 40px;
    height: 40px;
}

.ig{
    color: rgb(201, 138, 147, 0.8);
    transition: all .5s ease-in-out;
}

.ig:hover{
    transform: scale(1.3);
    color: rgb(201, 138, 147);
}

.ws{
    color: rgb(20, 201, 20, 0.6);
    transition: all .5s ease-in-out;
}

.ws:hover{
    transform: scale(1.3);
    color: rgb(20, 201, 20);
}
.fb{
    transition: all .5s ease-in-out;
    color: rgb(70, 137, 224, 0.8);
}

.fb:hover{
    transform: scale(1.3);
    color: rgb(70, 137, 224);
}